apiVersion: database.aws.crossplane.io/v1beta1
kind: RDSInstance
metadata:
  name: rdspostgresql
spec:
  forProvider:
    region: us-east-1
    dbInstanceClass: db.t2.small
    masterUsername: masteruser
    allocatedStorage: 20
    engine: postgres
    engineVersion: "12"
    skipFinalSnapshotBeforeDeletion: true
    tags:
    - key: creator
      value: peladonerd
  providerConfigRef:
    name: aws-provider
  writeConnectionSecretToRef:
    namespace: default
    name: aws-rdspostgresql-conn
